:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a { 
    color:#979797;
    text-decoration:none;
    font-size: 13px;
}

a:hover, a:focus, a:active {
    color: black;
    /* font-size: 13px; */
}

#marco
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0);
    display:none;
    color: black;
    font-size: 10px;
    Letter-spacing: -0.01em;
    line-height: 12px;
    font-weight: 500;
    z-index: 100;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.active {
    color: black;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.allslideshows {
}

@media only screen and (max-width: 767px) {
    .copyrighttext_about2{
        display: none;
    }
    .navlist {
        font-size: 10px;
        padding-top: 6px;
    }

    #desktopLogo{
        display: none;
    }
    #mobileLogo {
        display: block;
        margin-left: 16px;
        margin-top: 16px;
        top:0;

        position: fixed;
        z-index: 999; /* So that it is not under the other elements */
        background: transparent;
    }
    #hov {
        display: none;
    }
    #hovv {
        display: none;
    }
    #white_text {
        color: transparent;
    }
    .navbar {
        bottom: 16px;
        position: absolute;
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;
    }
    .navbar-ft {
        /* top: 925px; */
        padding-bottom: 16px;
        /* position: absolute; */
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;
        width: 100%;

        bottom: 0;
        position: fixed;
        z-index: 999; 
        background: white;
    }
    .navbar-pt {
        /* top: 820px; */
        padding-bottom: 16px;
        /* position: absolute; */
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;
        width: 100%;

        bottom: 0;
        position: fixed;
        z-index: 999; 
        background: white;
    }

    .navbar-ex {
        /* top: 800px; */
        padding-bottom: 16px;
        /* position: absolute; */
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;

        bottom: 0;
        position: fixed;
        z-index: 999; 
        background: white;
    }
    .navbar-ph {
        /* top: 2100px; */
        padding-bottom: 16px;
        /* position: absolute; */
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;

        bottom: 0;
        position: fixed;
        z-index: 999; 
        background: white;
    }
    .navbar-in {
        /* top: 1320px; */
        padding-bottom: 16px;
        /* position: absolute; */
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;

        bottom: 0;
        position: fixed;
        z-index: 999; /* So that it is not under the other elements */
        background: white;
    }
    .navbar-aw {
        /* top: 980px; */
        padding-bottom: 16px;
        /* position: absolute; */
        right: 16px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 0px 10px;

        bottom: 0;
        position: fixed;
        z-index: 999; /* So that it is not under the other elements */
        background: white;
    }


    .main {
        /* animation: diagonal-move-anim 0.7s linear;
        animation-fill-mode: forwards;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -31%); 
        animation-delay: 1s; */
    }

    .main2{
        /* position: absolute;
        margin-top: 26px; 
        margin-left: 24px; */
    }

    .about_statement{
        position: absolute;
        margin-left: 16px;
        top: 55px;
        /* bottom:54px; */
        width: 343px;
        height: 450px;
        display: inline;
    }

    .about_statement2{
        position: absolute;
        top: 55px;
        margin-left: 16px;
        bottom:0;
        width: 343px;
        height: 450px;
        display: inline;
    }

    .body_black {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 14px;
    }

    .body_grey {
        font-size: 10px;
        color: #979797;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 14px;
    }

    .slideshow{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        z-index:1;
        width:100%;

        /* margin-top: 30px; */
        /* width: 50%; */
        /* padding: 10px; */

        /* top: 50%; */
        /* left: 50%; */

        /* flex-flow: column;
        height: 100%; */
    }
    .prev{
        margin-top: 84px;
        position: absolute;
        background:transparent;
        z-index:2;
        width:45%;
        height: 450px;
    }
    .next{
        margin-top: 84px;
        position: absolute;
        z-index:2;
        margin-left:40%;
        width:60%;
        background:transparent;
        height: 450px;
    }
    .slide {
        display: inline-block;
        position: relative;
        left: -1px;
        margin-bottom: 43px;
    }


    .fp1 {
        width: 100%;
        max-width: 343px;
        height: auto;
        max-height: 886px;
    }

    .captiontext{
        position: absolute;
        margin-top: 9px;
        font-size: 10px;
        Letter-spacing: -0.01em;
        line-height: 12px;
        font-weight: 500;
    }
    .numbertext{ 
        margin-top: 9px;
        font-size: 10px;
        position:absolute;
        right:0;
        color: #979797;
    }
    .copyrighttext{ 
        font-size: 10px;
        position:absolute;
        margin-left: 16px;
        margin-top: 4px;
        color: #979797;
    }
    .copyrighttext_about{ 
        padding-top:5px;
        font-size: 10px;
        position:absolute;
        /* margin-left: 24px; */
        color: #979797;
        /* padding-top: 10px; */
        padding-bottom: 20px;
    }

/* 
    .fade {
        animation-name: fade;
        animation-duration: 0.5s;
    }
    @keyframes diagonal-move-anim {
        0% {
            top: 50%;
            left: 50%;
        }
        100% {
            top: 5%;
            left: 10%;
        }

    } */
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    .thumbnails {
        margin-top: 55px;
        margin-left: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap: 4px;
        align-items: end;
    }
    .thumbnails img {width: 80px; height:auto; align-self: end;}


}

@media only screen and (min-width: 768px) {
    #filler {
        display: none;
    }
    .navbar {
        margin-top: 30px; 
        position: absolute;
        right:26px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-end;
        gap: 4px 10px;
    }
    .navlist {
        font-size: 10px;
        line-height: 8px;
    }
    .navbar-ft {
        display: none;
    }
    .navbar-pt {
        display: none;
    }
    .navbar-ex {
        display: none;
    }
    .navbar-ph {
        display: none;
    }
    .navbar-in {
        display: none;
    }
    .navbar-aw {
        display: none;
    }
    .main {
        animation: diagonal-move-anim 0.7s linear;
        animation-fill-mode: forwards;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -31%); 
        animation-delay: 1s;
    }
    .main2{
        position: absolute;
        margin-top: 26px; 
        margin-left: 24px;
    }

    .about_statement{
        position: absolute;
        margin-left: 24px;
        margin-top: 83px;
        /* bottom:54px; */
        width: 565px;
        display: inline;
    }

    .about_statement2{
        position: absolute;
        margin-left: 24px;
        bottom:54px;
        width: 565px;
        display: inline;
    }

    .body_black {
        font-size: 13px;
        font-weight: 450;
        letter-spacing: -0.02em;
        line-height: 18px;
    }

    .body_grey {
        font-size: 13px;
        color: #979797;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 18px;
    }


    #mobileLogo {
        display: none;

    }


    .slideshow{
        margin-top: 84px;
        /* width: 50%; */
        /* padding: 10px; */

        /* top: 50%; */
        /* left: 50%; */

        /* flex-flow: column;
        height: 100%; */

        z-index:1;
        width:100%;
        position:absolute;

        /* top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
    }
    .prev{
        margin-top: 84px;
        position: absolute;
        background:transparent;
        z-index:2;
        width:45%;
        height: 780px;
        cursor: none;
    }
    .next{
        margin-top: 84px;
        position: absolute;
        z-index:2;
        margin-left:40%;
        width:60%;
        background:transparent;
        height:780px;
        cursor: none;
    }
    .slide {
        display: inline-block;
        position: relative;
    }
    .captiontext{
        margin-top: 10px;
        position: absolute;
        font-size: 10px;
        Letter-spacing: -0.01em;
        line-height: 12px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    .numbertext{ 
        margin-top: 10px;
        font-size: 10px;
        position:absolute;
        right:0;
        color: #979797;
        padding-bottom: 24px;
    }
    .copyrighttext{ 
        font-size: 10px;
        position:absolute;
        margin-left: 24px;
        margin-top: 21px;
        color: #979797;
    }
    .copyrighttext_about{ 
        font-size: 10px;
        position:absolute;
        /* margin-left: 24px; */
        color: #979797;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .copyrighttext_about2{
        font-size: 10px;
        position:absolute;
        /* margin-left: 24px; */
        color: #979797;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* .copyrighttext_about_statement{ 
        margin-left: 24px;
        font-size: 10px;
        position:absolute;
        color: #979797;
        padding-bottom: 20px;
    } */

    .fp1 {
        /* width: 100%; */
        max-width: 1164px;
        height: auto;
        max-height: 770px;
    }

    /* .fade {
        animation-name: fade;
        animation-duration: 1.2s;
    } */
    @keyframes diagonal-move-anim {
        0% {
            top: 50%;
            left: 50%;
        }
        100% {
            top: 40px;
            left: 142px;
        }

    }
    /* @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    } */

    .thumbnails {
        margin-top: 84px;
        margin-left: 24px;
        margin-right: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 24px;
        align-items: end;
    }
    .thumbnails img {width: 212px; height:auto; align-self: end;}

    div:hover > #hov{
        display : block;
    }
    #hov{
        display:none;
        position:absolute;
        color: black;
        font-size: 10px;
        Letter-spacing: -0.01em;
        line-height: 12px;
        font-weight: 500;
      }
    div:hover > #hovv{
        display : block;
    }
    #hovv{
        display:none;
        position:absolute;
        color: black;
        font-size: 10px;
        Letter-spacing: -0.01em;
        line-height: 12px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1800px) {
    #filler {
        display: none;
    }
    .prev{
        margin-top: 84px;
        position: absolute;
        background:transparent;
        z-index:2;
        width:45%;
        height: 860px;
        cursor: none;
    }
    .next{
        margin-top: 84px;
        position: absolute;
        z-index:2;
        margin-left:40%;
        width:60%;
        background:transparent;
        height: 860px;
        cursor: none;
    }
    div:hover > #hov{
        display : block;
    }
    #hov{
        display:none;
        position:absolute;
        color: black;
        font-size: 10px;
        Letter-spacing: -0.01em;
        line-height: 12px;
        font-weight: 500;
      }
    div:hover > #hovv{
        display : block;
    }
    #hovv{
        display:none;
        position:absolute;
        color: black;
        font-size: 10px;
        Letter-spacing: -0.01em;
        line-height: 12px;
        font-weight: 500;
    }
}
